.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

body {
  border: 2px solid rgba(82, 79, 79, 0.863);
  border-radius: 50px 20px;
  color: black;
}

img {
  border: 2px solid rgb(117, 115, 115);
  border-radius: 50px 20px;
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 60%;
}
eno {
  text-align: center;
}
h5 {
  background-color: #7f7f7f;
  text-shadow: black;
}

h1,
h2 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: solid;
  font-family: "Dancing Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  color: #717171;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
